.hb-logo-img {
  height: 124px;
  width: 170px;
  position: absolute;
  top: -38px;
}

.hb-header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  padding-right: var(--padding-primary);
  padding-left: var(--padding-primary);
  font-size: var(--font-size-title);
}

.hb-search,
.hb-logo {
  width: 30%;
}
.hb-navbarh {
  width: 40%;
}

@media (max-width: 991.9px) {
  .hb-logo {
    order: 1;
  }
  .hb-navbar {
    order: 3;
  }

  .hb-search {
    order: 2;
    flex: 1;
  }
}

@media (min-width: 425px) and (max-width: 991.9px) {
  .hb-logo-img {
    width: 110px;
    height: 72px;
    top: -10px;
    left: 0px;
  }
}

@media (max-width: 425px) {
  .hb-logo-img {
    width: 92px;
    height: 72px;
    top: -10px;
    left: -7px;
  }
}
