.hb-nav-link {
  position: relative;
  cursor: pointer;
}

.hb-nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #dc3545;
  transition: all 0.3s ease;
}

.active::after {
  left: 0;
  width: 100%;
}

.hb-nav-link:hover {
  background-color: #6699cc;
  color: white;
  transform: scale(1.1);
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

@media (max-width: 991.9px) {
  .navbar-collapse {
    position: absolute;
    width: 160px;
    height: 138px;
    background: white;
    right: -2px;
    top: 49px;
    border-radius: 15px;
    padding: 15px;
    z-index: 100;
  }
}
